.header {
  padding:0;
  margin:0;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
}
.header button{
  width:20%;
}
.header button.active {
  background-color: #7722BB;
}

button {
  background-color: #222;
  color: white;
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 12px;
}

button:hover{
  background-color: #1F0011;;
}


.tab {
  display: none;
  padding: 6px 12px;
  overflow:hidden ;
  border: 1px solid #222;
  border-top: none;
  background: black;
}

.tab button ,.gpa, #cgpabutton {
  float: right;
  padding: 5px 10px;
}

input.gpa {
	color: white;
	text-align: center;
	font-size: 10pt;
	width: 100px;
	height: 32px;
}

.lastdiv{
  padding-right: 12px;
}

select {
  background-color : #333;
  color: white;
}

.clearedSem, .clearedCourse {
  width: 45%;
  padding: 5px;
  margin: 5px;
}
.clearedCourse{
  margin-right: 0px;
}
.addCourseButton{
  margin-top: 5px;
  font-size: 22px;
}
.courseDiv{
  clear: both;
}
.resetDiv, .gpaDiv{
	padding: 5px;
}
.resetDiv{
	float: left;
}
.gpaDiv{
	float: right;
}

table {
  margin-left: auto;
  overflow: scroll;
  margin-right: auto;
  border: 1px solid #222;
  color: white;
  width: 100%;
}

th {
  background-color: #7722BB;
}

th, td {
	padding: 8px;
	text-align: left;
}

tr:nth-child(even) {
  background-color: #2f2f2f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #444477;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 600px) {
	.header button {
		font-size: 12px;
	}
}
